.MuiBreadcrumbs-ol li, .MuiBreadcrumbs-ol p{
    font-size: 22px !important;
}
.MuiBreadcrumbs-ol p {
    font-weight: bold;
}
.color {
    width: 14px !important;
    height: 14px !important;
}
.color::after {
    width: 20px !important;
    height: 20px !important;
    top: -3px !important;
    left: -3px !important;
}
.prod-total .prods {
    max-height: 262px;
    overflow-y: scroll;
    padding-right: 50px;
    box-shadow: 0px 4px 8px 1px #e7d7d7a6;
}
.prod-total .prods .prod {
    display: flex;
    width: 500px;
}
.prod-total .prods .prod img{
    width: 120px !important;
}
.prod-total .prods .prod .info-prod .more-info{
    display: flex;
}

.prod-total .prods .prod .info-prod .more-info .sku {
    width: 110px;
    margin-right: 15px;
}
.prod-total .prods .prod .info-prod .more-info .colors {
    align-items: center;
}
.prod-total .prods .prod .info-prod .more-info .color {
    width: 17px;
    height: 17px;
}
.prod-total .prods .prod .info-prod .more-info .color::after {
    width: 25px;
    height: 25px;
}
.prod-total .total table {
    font-size: 18px;
}
.prod-total .total table tbody {
    background-color: #ffded77d;
}
.prod-total .total table tbody tr th:last-child, .prod-total .total table tbody tr td:last-child{
    text-align: end;
}
.prod-total .total table tbody tr th:first-child, .prod-total .total table tbody tr td:first-child {
    width: 165px;
}
.prod-total .total table td, .prod-total .total table th {
    padding: 5px 10px;
}
.ship-pay {
    display: flex;
}
.ship-pay .title-section {
    font-size: 21px;
    color: #2a3b7b;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 100%;
}
.ship-pay .content-ship-pay {

}
.ship-pay .data-person {
    width: 25%;
}
.ship-pay .shipping {
    width: 30%;
}
.ship-pay .payment {
    width: 40%;
}
.MuiRadio-root {
    color: rgb(0 0 0 / 30%);
}
.fretes {
    width: 100%;
}
.fretes .frete-box {
    border: 1px solid #bbbbbb;
    display: flex;
    padding: 5px;
    width: 100%;
    border-radius: 1px;
}
.fretes .frete-box:not(:first-of-type) {
    border-top: 0px;
}
.fretes .frete-box .frete {
    padding: 5px;
    border-radius: 3px;
    display: flex;
    width: 100%;
}
.fretes .frete-box .frete .MuiCheckbox-root{
    width: 100%;
}
.fretes .frete-box .frete label{
    font-size: 15px;
}
.fretes .frete-box .frete .text-frete {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.fretes .frete-box .frete .text-frete .price {
    font-weight: bold;
}