#prod-categorias {
    margin-bottom: 35px;
}
#prod-categorias .content {
    display: flex;
    flex-wrap: wrap;
}
#prod-categorias .content .promo-banner {
    padding-bottom: 20px;
    width: 100%;
    height: 500px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#prod-categorias .content .products {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#prod-categorias .content .promo-banner .banner {
    height: 100%;
    border-radius: 15px;
    background: rgb(9,8,14);
    background: linear-gradient(180deg, rgba(9,8,14,1) 0%, rgba(98,29,30,1) 100%);
}