#colecao-categorias {
    margin-bottom: 35px;
}
#colecao-categorias .title-section {
    font-size: 35px;
    font-weight: bold;
    color: #373737;
    margin-bottom: 15px;
}
#colecao-categorias .content-collections {
    display: flex;
    justify-content: space-between;
}
#colecao-categorias .content-collections .collection {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#colecao-categorias .content-collections .collection .content-img {
    background-color: #ededed;
    border-radius: 15px;
}
#colecao-categorias .content-collections .collection .content-img img {
    width: 100%;
}
.promo {
    border-radius: 5px;
    display: flex;
    padding: 2px 9px;
    font-weight: 600;
    justify-content: center;
}
.promo.green {
    background-color: #d8efdf;
    color: #3DB86A;
}
.promo.yellow {
    background-color: #f7f3dc;
    color: #F7C25A;
}