#newsletter {
    background-color: blue;
    width: 100%;
    height: 250px;
}
#newsletter .inputs {
    margin-left: 30px;
}
#newsletter .inputs-newsletter {
}
#newsletter .inputs-newsletter input {
    border-radius: 15px;
    border: none;
    padding: 5px 5px 5px 10px;
    margin-right: 5px;
}
#newsletter .inputs-newsletter button {
    border: none;
    border-radius: 15px;
    padding: 7px 20px;
    font-size: 13px;
    background-color: #12862f;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}