* {
    scroll-behavior: smooth !important;
}
.c-red {
    color: red;
}
.btn-buy-primary {
    font-size: 15px;
    padding: 6px 41px;
    border-radius: 17px;
    min-width: 151px;
    width: 151px;
    max-width: 180px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #1976d2;
    border: none;
    font-family: 'Roboto';
    color: white;
    display: flex;
    text-align: center;
}
.btn-buy-primary .MuiCircularProgress-root {
    width: 22px !important;
    height: 22px !important;
    margin: 0px 24px;
}
.flex-direction-column {
    flex-direction: column;
}

.colors {
    display: flex;
}
.colors .color {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    position: relative;
}
.colors .color:last-of-type {
    margin-right: 0px;
}
.colors .color:hover::after {
    border: 2px solid #898989;
}
.colors .color::after {
    content: '';
    height: 16px;
    width: 16px;
    transition: all ease 0.2s;
    border: 1px solid #c3c3c3;
    position: absolute;
    top: -3px;
    left: -3px;
    border-radius: 100%;
}
.colors .color.active::after {
    border: 2px solid #77d977;
}