@import url('--globalClasses.css');

@import url('./home/banner.css');
@import url('./produto/products.css');
@import url('./home/categorias.css');
@import url('./home/cart.css');
@import url('./home/colecao_prod.css');
@import url('./home/footer.css');
@import url('./home/header.css');
@import url('./home/info-cards.css');
@import url('./home/marcas.css');
@import url('./home/promo.css');
@import url('responsivo.css');

