/* 🖥️ Extra Grande (XL) - Até 1399px */
@media only screen and (max-width: 1399px) {
    
}
/* 💻 Grande (LG) - Até 1199px */
@media only screen and (max-width: 1199px) {
    
}
/* 📱 Médio (MD) - Até 991px */
@media only screen and (max-width: 991px) {
    #promo .cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
    }
    #promo .cards .card {
        width: 41%;
        margin-bottom: 15px;
    }
    #info-cards .card-info {
        align-items: center;
    }
    #info-cards .card-info .content{
        align-items: center;
        margin-bottom: 20px;
    }
    #info-cards .card-info p{
        font-size: 14px;
    }
}
/* 📱 Pequeno (SM) - Até 767px */
@media only screen and (max-width: 767px) {
    #info-cards .card-info .content:last-of-type{
        margin-right: 55px;
    }
    #prod-newest .p-carousel.p-component {
        width: 100%;
    }
    #prod-trending .p-carousel.p-component {
        width: 100%;
    }
    #prod-categorias .p-carousel.p-component {
        width: 100%;
    }
    #info-cards .container {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #info-cards .card-info:nth-child(2) {
        margin-right: 55px;
    }
    #colecao-categorias .content-collections {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    #colecao-categorias .content-collections .collection {
        width: 31%;
    }
    header .user-preference {
        width: 100% !important;
    }
    header .content-header .logo {
        width: 32%;
    }
    header .content-header .search {
        margin-bottom: 15px;
    }
    header .content-header .categories ul li:not(:last-of-type){
        display: none;
    }
}
/* 📱 Extra Pequeno (XS) - Até 575px */
@media only screen and (max-width: 575px) {
    #promo .cards .card {
        width: 225px;
    }
    #info-cards .card-info {
        margin-bottom: 15px;
    }
    #info-cards .card-info p{
        font-size: 17px;
    }
    #colecao-categorias .content-collections .collection {
        width: 43%;
    }
    header .content-header .logo {
        width: 100%;
    }
    header .content-header .logo-footer {
        display: flex;
        justify-content: center;
    }
    header .content-header .search {
        width: 100%;
    }
}