.products .product {
    border: 1px solid #dedede;
    border-radius: 14px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 20px;
    position: relative;
}
.products .product img {
    width: 100%;
}
.products .product .promo-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products .product .promo {
    width: 45%;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.products .product .rating {
    font-size: 14px;
    display: flex;
    align-items: center;
}
.products .product .rating svg {
    width: 15px;
}
.products .product a.title-link-product {
    color: black;
    text-decoration: none;
}
.products .product a.title-link-product:hover {
    text-decoration: underline;
}
.products .product .title-product {
    font-weight: 600;
    font-size: 15px;
    margin-top: 15px;
    height: 45px;
}
.products .product .description {
    font-weight: 400;
    font-size: 13px;
    color: gray;
    min-height: 20px;
}
.products .product .price {
    display: flex;
    font-size: 19px;
    font-weight: 700;
    align-items: center;
    margin-top: 8px;
}
.products .product .price .discount {
    margin-left: 5px;
    color: #3DB86A;
    font-size: 12px;
    margin-top: 2px;
}
.products .product .colors {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 8px;
}
.products .product .colors .color {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    border:1px solid #c7c7c7;
    margin-right: 2px;
}
.products .product .colors .color.red {
    background-color: red;
}
.products .product .colors .color.black {
    background-color: #2d2d2d;
}
.products .product .colors .color.white {
    background-color: #fff;
}
.products .product .colors .color.orange {
    background-color: #db8e00;
}
.products .product .colors .color.yellow {
    background-color: #f9fc46;
}
.products .product .colors .color.gray {
    background-color: #8a8a8a;
}
.products .product .colors .color.green {
    background-color: #14c714;
}
.products .product .colors .color.blue {
    background-color: #1149e0;
}
.products.prod-listing .product {
    width: 95%;
}

#especificacoes .txt-espec-prods p {
    margin-bottom: 0px;
}
#especificacoes .txt-espec-prods {
    margin-bottom: 45px;
}