* {
    scroll-behavior: smooth !important;
}

html {
    overflow-y: scroll; /* Força a barra de rolagem vertical a ser sempre exibida */
    scrollbar-width: thin; /* Para Firefox - barra de rolagem mais fina */
}

/* Estilização da barra de rolagem para navegadores baseados em WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra */
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1; /* Cor da barra de rolagem */
    border-radius: 4px; /* Borda arredondada */
}

::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1; /* Cor da barra de rolagem ao passar o mouse */
}

.c-red {
    color: red;
}
.btn-buy-primary {
    font-size: 14px;
    padding: 6px 41px;
    border-radius: 17px;
    min-width: 151px;
    width: 151px;
    max-width: 180px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #1976d2;
    border: none;
    font-family: 'Roboto';
    color: white;
    display: flex;
    text-align: center;
}
.btn-buy-primary .MuiCircularProgress-root {
    width: 22px !important;
    height: 22px !important;
    margin: 0px 24px;
}
.flex-direction-column {
    flex-direction: column;
}

.colors {
    display: flex;
    visibility: hidden;
}
.colors .color {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    position: relative;
}
.colors .color:last-of-type {
    margin-right: 0px;
}
.colors .color:hover::after {
    border: 2px solid #898989;
}
.colors .color::after {
    content: '';
    height: 16px;
    width: 16px;
    transition: all ease 0.2s;
    border: 1px solid #c3c3c3;
    position: absolute;
    top: -3px;
    left: -3px;
    border-radius: 100%;
}
.colors .color.active::after {
    border: 2px solid #77d977;
}
.addToCartBox {
    margin-top: 3px;
}
.addToCartButton, .refreshFillters {
    width: 100%;
    background-color: #252d5f;
    color: white;
    font-weight: bold;
    border: 1px solid #252d5f;
    transition: all ease 0.2s;
    border-radius: 3px;
    padding: 4px 0px;
}
.addToCartButton:hover, .refreshFillters:hover {
    background-color: white;
    color: #252d5f;
}
.rewind {
    cursor: pointer;
}
.rewind:hover {
    text-decoration: underline;
}
#prod-newest .p-carousel.p-component {
    width: 100%;
}
#prod-trending .p-carousel.p-component {
    width: 100%;
}
#prod-categorias .p-carousel.p-component {
    width: 100%;
}
.logout-button, .acc-button {
    background: white;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: cornflowerblue;
}
.logout-button:hover, .acc-button:hover {
    text-decoration: underline;
}
.w-100 {
    width: 100%;
}

#recomend .p-carousel.p-component {
    width: 100%;
}
.relative-item {
    position: relative;
}
#departamentos-menu .css-1xomo8h-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    overflow: visible;
}
.submenu-itens {
    position: absolute;
    display: none;
    left: 100%;
    top: 0px;
    background-color: white;
    height: 270px;
    width: 200px;
    color: black;
    border-radius: 3px;
    box-shadow: 1px 3px 5px 1px #00000050;
}
#departamentos-menu ul li:hover .submenu-itens {
    display: flex;
    flex-direction: column;
}
.submenu-itens li {
    display: flex;
}
.submenu-itens li:hover {
    color:cornflowerblue;
}
.MuiBreadcrumbs-root {
    font-size: 14px;
}
.MuiBreadcrumbs-root li p {
    font-size: 14px;
}