@import url('--globalClasses.css');

@import url('./home/banner.css');
@import url('./produto/products.css');
@import url('./home/categorias.css');
@import url('./home/cart.css');
@import url('./home/colecao_prod.css');
@import url('./home/footer.css');
@import url('./home/header.css');
@import url('./home/info-cards.css');
@import url('./home/marcas.css');
@import url('./home/promo.css');
@import url('./home/newsletter.css');
@import url('responsivo.css');

.swiper-button-next,
.swiper-button-prev {
    color: #252d5f;
    background-color: rgba(255, 255, 255, 0.9);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #252d5f;
    color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 16px;
    font-weight: 700;
}

.swiper-pagination-bullet {
    background-color: #252d5f;
    opacity: 0.3;
    transition: all 0.2s ease;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    transform: scale(1.2);
}
