@import url('--globalClasses.css');

@import url('./home/banner.css');
@import url('./produto/products.css');
@import url('./home/categorias.css');
@import url('./home/cart.css');
@import url('./home/colecao_prod.css');
@import url('./home/footer.css');
@import url('./home/header.css');
@import url('./home/info-cards.css');
@import url('./home/marcas.css');
@import url('./home/promo.css');
@import url('./home/newsletter.css');
@import url('responsivo.css');

.swiper-button-next,
.swiper-button-prev {
    color: rgba(37, 45, 95, 0.25);
    width: 36px;
    height: 36px;
    transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: rgba(37, 45, 95, 0.7);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 14px;
    font-weight: 600;
}

.swiper-pagination-bullet {
    background-color: #252d5f;
    opacity: 0.3;
    transition: all 0.2s ease;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    transform: scale(1.2);
}
