@import url('--globalClasses.css');
@import url('./produto/content.css');
@import url('./produtos/filtros.css');
@import url('./home/cart.css');
@import url('./produto/tabs.css');
@import url('./home/footer.css');
@import url('./home/header.css');
@import url('./produto/products.css');

/* Products page - Additional styles that complement MUI components */
