/* 🖥️ Extra Grande (XL) - Até 1399px */
@media only screen and (max-width: 1399px) {
    
}
/* 💻 Grande (LG) - Até 1199px */
@media only screen and (max-width: 1199px) {
    
}
/* 📱 Médio (MD) - Até 991px */
@media only screen and (max-width: 991px) {
    #promo .cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
    }
    #promo .cards .card {
        width: 41%;
        margin-bottom: 15px;
    }
}
/* 📱 Pequeno (SM) - Até 767px */
@media only screen and (max-width: 767px) {
    header .user-preference {
        width: 100% !important;
    }
    header .content-header .logo {
        width: 32%;
    }
    header .content-header .search {
        margin-bottom: 15px;
    }
    header .content-header .categories ul li:not(:last-of-type){
        display: none;
    }
}
/* 📱 Extra Pequeno (XS) - Até 575px */
@media only screen and (max-width: 575px) {
    #promo .cards .card {
        width: 225px;
    }
    header .content-header .logo {
        width: 100%;
    }
    header .content-header .logo-footer {
        display: flex;
        justify-content: center;
    }
    header .content-header .search {
        width: 100%;
    }
}
