.banner-product {
    background-color: black;
}
.banner-product {
    padding: 20px 0px;
}
.banner-product span, .banner-product h2, .banner-product .button-nav {
    color: white;
}
.banner-product h2 {
    font-size: 26px;
    margin-bottom: 0px;
    font-weight: 300;
}
.banner-product .sku {
    font-size: 14px;
}
.banner-product .nav-product {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
}
.banner-product .nav-product .button-nav {
    position: relative;
    cursor: pointer;
}
.banner-product .nav-product .button-nav::before{
    content:'';
    width: 100%;
    height: 4px;
    border-radius: 3px;
    opacity: 0;
    transition: all ease 0.2s;
    position: absolute;
    bottom: -8px;
    left: 0px;
    background-color: white;
}
.banner-product .nav-product .button-nav:hover::before {
    opacity: 1;
}
.banner-product .price-info-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-product .price-info-head span{
    font-size: 20px;
}
.banner-product .price-info-head .price {
    display: flex;
    flex-direction: column;
    align-items: center;
}