#content-product .content-img {
    width: 50%;
    padding: 10px;
}
#content-product .content-img .img-show {
    width: 100%;
}
#content-product .content-img .carrousel {
    display: flex;
}
#content-product .content-img .carrousel .img-carrousel{
    width: 25%;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
#content-product .content-img .carrousel .img-carrousel:first-of-type{
    border-left: 1px solid #dedede;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#content-product .content-img .carrousel .img-carrousel:last-of-type{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#content-product .content-img .carrousel .img-carrousel img{
    width: 100%;
}
#content-product .content-infoprod {
    width: 50%;
    padding: 10px;
}
#content-product .content-infoprod h1{
    font-size: 24px;
}
#content-product .content-infoprod .rating-infoprod .label-stars svg {
    fill: #e3c336;
}
#content-product .content-infoprod .rating-infoprod{
    display: flex;
    justify-content: space-between;
}
#content-product .content-infoprod .rating-infoprod .label-stars{
    display: flex;
    align-items: flex-end;
}
#content-product .content-infoprod .rating-infoprod .count-rating {
    font-size: 13px;
    margin-bottom: 0px;
    margin-left: 6px;
}
#content-product .content-infoprod .content-price {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
#content-product .content-infoprod .content-price .price{
    font-weight: 700;
    font-size: 36px;
    width: 100%;
    line-height: 36px;
}
#content-product .content-infoprod .content-price .card-info{
    font-weight: 700;
    font-size: 12px;
    color: red;
}
#content-product .content-infoprod .text-colors {
    margin-top: 30px;
}
#content-product .content-infoprod .colors {
    display: flex;
}
#content-product .content-infoprod .colors .color {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    position: relative;
}
#content-product .content-infoprod .colors .color.red {
    background-color: red;
    border: 1px solid transparent
}
#content-product .content-infoprod .colors .color.black {
    background-color: black;
    border:1px solid transparent
}
#content-product .content-infoprod .colors .color.white {
    background-color: white;
    border:1px solid #dedede;
}
#content-product .content-infoprod .colors .color::after {
    content: '';
    height: 43px;
    width: 43px;
    border: 2px solid #c3c3c3;
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 100%;
}
#content-product .content-infoprod h5 {
    margin-bottom: 25px;
}
#content-product .content-infoprod .text-options {
    margin-top: 30px;
}
#content-product .content-infoprod .options {
    display: flex;
    flex-wrap: wrap;
}
#content-product .content-infoprod .options-card {
    display: flex;
    align-items: center;
}
#content-product .content-infoprod .options-card .option {
    border: 1px solid #cfcfcf;
    margin-right: 5px;
    padding: 2px;
    border-radius: 3px;
}
#content-product .content-infoprod .options-card .option img {
    max-width: 100%;
    height: 30px;
}
#content-product .content-infoprod .compartilhe .midias {
    display: flex;
}
#content-product .content-infoprod .compartilhe .midias li {
    border-radius: 3px;
    padding: 4px 12px;
    margin-right: 7px;
    cursor: pointer;
}
#content-product .content-infoprod .compartilhe .midias svg {
    width: 22px;
    fill: white;
}
#content-product .content-infoprod .compartilhe .midias img {
    width: 22px;
    fill: white;
}
#content-product .content-infoprod .compartilhe .midias .whats {
    background-color: #77d977;
}
#content-product .content-infoprod .compartilhe .midias .x {
    background-color: #000;
}
#content-product .content-infoprod .options .option {
    border:1px solid #c4c4c4;
    padding: 3px 8px;
    margin-bottom: 5px;
    border-radius: 4px;
    margin-right: 5px;
    font-weight: 600;
    cursor: pointer;
}
#content-product .content-infoprod .options .option.active {
    border: 2px solid #0c4680;
    padding: 2px 7px;
}