:root {
    --color-bg1: #6c00a2;
    --color-bg2: #001152;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
}
.gradients-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: rgb(106,17,17);
    background: linear-gradient(90deg, rgba(106,17,17,1) 0%, rgba(14,17,43,1) 64%, rgba(12,17,79,1) 100%);
    top: 0;
    left: 0;
}

.logo {
    width: 100vw;
}