#tabs .content-tabs {
    width: 100%;
    margin-top: 30px;
}
#tabs .content-tabs ul {
    display: flex;
}
#tabs .content-tabs li {
    cursor: pointer;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
#tabs .content-tabs li.active {
    font-weight: 600;
}
#tabs .content-tabs li:first-of-type {
    padding-left: 0px;
}
#tabs .content-showtab {
    padding-bottom: 25px;
}
#tabs .content-showtab .tab-rating {
    margin-top: 25px;
    display: flex;
}
#tabs .content-showtab .tab-rating .rating-left {
    width: 60%;
}
#tabs .content-showtab .tab-rating .rating-right {
    width: 40%;
}
#tabs .content-showtab .tab-rating .rating-left .rating {
    display: flex;
}
#tabs .content-showtab .tab-rating .rating-left .rating .rate {
    font-size: 35px;
    font-weight: 600;
    margin-right: 10px;
}
#tabs .content-showtab .tab-rating .rating-left .rating .stars {
    display: flex;
    align-items: center;
}
#tabs .content-showtab .tab-rating .rating-left .rating .stars svg {
    fill: #e3c336;
}
#tabs .content-showtab .tab-rating .rating-left .rating .stars p{
    margin: 0px;
    font-size: 13px;
}
#tabs .content-showtab .tab-rating .rating-left .rating-graph .line span{
    margin-right: 15px;
}
#tabs .content-showtab .tab-rating .rating-left .rating-graph .line {
    display: flex;
    align-items: center;
}
#tabs .content-showtab .tab-rating .rating-left .rating-graph .line .content-progress{
    background-color: #e4e4e4;
    border-radius: 4px;
    height: 8px;
    width: 190px;
}
#tabs .content-showtab .tab-rating .rating-left .rating-graph .line .content-progress .progress-bar {
    background-color: #222;
    border-radius: 4px;
    height: 8px;
}
.content-midias {
    display: flex;
}
.content-midias .img-midias{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.content-midias .img-midias .midia {
    width: 100px;
    height: 90px;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    display: flex;
    align-items: center;
}
.content-midias .img-midias .midia img{
    width: 100%;
}
.content-midias .more {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.content-midias .more span{
    font-size: 30px;
    font-weight: 600;
}
.content-midias .more a{
    color: #3d5ac9;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

#tabs .content-showtab .comments .comment{
    display: flex;
    flex-wrap: wrap;
}
#tabs .content-showtab .comments .comment hr{
    width: 100%;
}
#tabs .content-showtab .comments .content-comment{
    width: 60%;
}
#tabs .content-showtab .comments .comment span {
    font-size: 26px;
    font-weight: 600;
}
#tabs .content-showtab .comments .comment {
    display: flex;
}
#tabs .content-showtab .comments .content-midias{
    width: 40%;
}
#tabs .content-showtab .comments .comment .label-stars svg {
    fill: #e3c336;
}
#tabs .content-showtab .comments .comment .text {
    margin-top: 20px;
}