.promo {
    border-radius: 5px;
    display: flex;
    padding: 2px 9px;
    font-weight: 600;
    justify-content: center;
}
.promo.green, .promo.accent {
    background-color: rgba(37, 45, 95, 0.1);
    color: #252d5f;
}
.promo.yellow {
    background-color: #f7f3dc;
    color: #F7C25A;
}
