footer {
    padding-top: 25px;
    background-color: #d5d5d5;
    padding-bottom: 25px;
}
footer ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}
footer p {
    font-size: 14px;
}
footer form {
    width: 90%;
}
footer form .content-inp {
    background: white;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 41px;
}
footer form .content-inp svg {
    fill: #162a4f;
}
footer form .content-inp input {
    border: none;
    height: 100%;
    margin-left: 5px;
    width: 100%;
}
footer form button {
    width: 100%;
    border: none;
    color: white;
    background-color: #162a4f;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 6px;
    height: 35px;
}
footer .copyright {
    width: 100%;
}
footer .copyright p{
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}