/* Header styles - Most styles are now handled by MUI in the header components */

body ul {
    list-style: none;
    padding-left: 0px;
}

.title-section {
    display: flex;
    justify-content: space-between;
}

.title-section p {
    font-size: 35px;
    font-weight: bold;
    color: #373737;
    margin-bottom: 15px;
}

.title-section ul {
    display: flex;
}

.title-section ul li {
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
