#marcas {
    margin-top: 15px;
    padding-bottom: 25px;
    margin-bottom: 35px;
}
#marcas .content-marcas {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#marcas .content-marcas .link-marca{
    border-radius: 12px;
}
#marcas .content-marcas .link-marca img{
    filter: grayscale(1);
    opacity: 0.85;
}
#marcas .content-marcas .p-carousel.p-component {
    width: 100%;
}