.MuiBreadcrumbs-ol li, .MuiBreadcrumbs-ol p {
    font-size: 22px !important;
}

.MuiBreadcrumbs-ol p {
    font-weight: bold;
}

.color {
    width: 14px !important;
    height: 14px !important;
}

.color::after {
    width: 20px !important;
    height: 20px !important;
    top: -3px !important;
    left: -3px !important;
}

.MuiRadio-root {
    color: rgb(0 0 0 / 30%);
}
